/Data
/detector.xml
/__pycache__
/encodings.pickle
/DS.pickle
/trainer
/Dataset
/faces.pickle
/train_data.py
/train_model.py
/recognize.py
/train_data.py
/try2.py
/copyface_rec.py
/copymain.py
/copystore.py
/try2.py
/train_data.py
/recognize.py
/Pickle.pickle
